<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="generator" content="Bluefish 2.2.10" >
<meta name="author" content="user" >
<meta name="date" content="2023-10-14T12:48:02+0800" >
<meta name="copyright" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="expires" content="0">

<link rel="stylesheet" href="/css/styles.css">

<script src="/js/t200.js"></script>
  
</head>
<body>

    <div class="container">

    <%- include('./admin/nav.ejs'); %>

    <%- include('./admin/header.ejs'); %>

    <%- include('./main.ejs'); %>

    <%- include('./admin/footer.ejs'); %>

    </div>
    
</body>
</html>

