<div class="content">
    <div class="channel">
        <div class="item">
        a
        </div>
        <% articles.forEach(function(article){ %>
            <div class="item">
                b			
            </div>
        <%})%>
        <div class="item">
        b			
        </div>
    </div>
    <div class="channel">
        <div class="item">
        c
        </div>
        <div class="item">
        d	
        </div>
    </div>
</div>