

<div>
    <div class="main">

        <div class="main_list">

            <div class="main_channel">
                <fieldset>
                    <legend>
                        <a href="/house/"><b>House</b></a>
                    </legend>
                    <div class="main_item">
                        a
                    </div>
                    <div class="main_item">
                        b
                    </div>
                    <div class="main_item">
                        c
                    </div>
                </fieldset>
            </div>

            <div class="main_channel">
                <fieldset>
                    <legend>
                        <a href="/job/"><b>Job</b></a>
                    </legend>
                    <div class="main_item">
                        a
                    </div>
                    <div class="main_item">
                        b
                    </div>
                    <div class="main_item">
                        c
                    </div>
                </fieldset>
            </div>

        </div>

        <div class="main_list">

            <div class="main_channel">
                <fieldset>
                    <legend>
                        <a href="/exchange/"><b>Exchange</b></a>
                    </legend>
                    <div class="main_item">
                        a
                    </div>
                    <div class="main_item">
                        b
                    </div>
                    <div class="main_item">
                        c
                    </div>
                </fieldset>
            </div>

            <div class="main_channel">
                <fieldset>
                    <legend>
                        <a href="/trading/"><b>Trading</b></a>
                    </legend>
                    <div class="main_item">
                        a
                    </div>
                    <div class="main_item">
                        b
                    </div>
                    <div class="main_item">
                        c
                    </div>
                </fieldset>
            </div>

        </div>

        <div class="main_list">

            <div class="main_channel">
                <fieldset>
                    <legend>
                        <a href="/traffic/"><b>Traffic</b></a>
                    </legend>
                    <div class="main_item">
                        a
                    </div>
                    <div class="main_item">
                        b
                    </div>
                    <div class="main_item">
                        c
                    </div>
                </fieldset>
            </div>

            <div class="main_channel">
                <fieldset>
                    <legend>
                        <a href="/resource/"><b>Resource</b></a>
                    </legend>
                    <div class="main_item">
                        a
                    </div>
                    <div class="main_item">
                        b
                    </div>
                    <div class="main_item">
                        c
                    </div>
                </fieldset>
            </div>

        </div>

        <div class="main_list">

            <div class="main_channel">
                <fieldset>
                    <legend>
                        <a href="/content/articles.html"><b>Article</b></a>
                    </legend>
                    <div class="main_item">
                        a
                    </div>
                    <div class="main_item">
                        b
                    </div>
                    <div class="main_item">
                        c
                    </div>
                </fieldset>
            </div>

            <div class="main_channel">
                <fieldset>
                    <legend>
                        <a href="/content/blogs.html"><b>Blog</b></a>
                    </legend>
                    <div class="main_item">
                        a
                    </div>
                    <div class="main_item">
                        b
                    </div>
                    <div class="main_item">
                        c
                    </div>
                </fieldset>
            </div>

        </div>

    </div>
</div>