/* Text Elements */

h1 span.bold {
  font-weight: 600;
}

h1.eye-catcher {
  float: none;
  margin-top: 1.25rem;
  margin-bottom: 0;
  margin-left: 2%;
  padding: .625rem;
  max-width: none;
  width: auto;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.2;
}

h1.food-talk-title {
  margin-top: .4375rem;
  margin-bottom: .9375rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8125rem;
  font-family: 'Quicksand', sans-serif;
}

h2.about-heading {
  margin-top: 1.25rem;
  padding-top: .9375rem;
  padding-bottom: .9375rem;
  color: #274d08;
  text-align: left;
  font-size: 1.25rem;
}

h2.top-about-heading {
  margin-bottom: .625rem;
  padding-top: 0;
  padding-bottom: 0;
  color: #171717;
  text-align: center;
  font-size: 1.25rem;
}

h2.menu-title {
  margin: 0;
  padding-top: .375rem;
  padding-bottom: .5rem;
  width: 100%;
  background-color: #1e261f;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  font-family: 'Quicksand', sans-serif;

  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
          align-self: flex-end;
}

h2.logo-heading {
  float: none;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 1.375rem;
}

h2 span.best-color {
  color: #fff;
  text-decoration: underline;
  font-weight: 700;
}

h3.article-title {
  margin-top: .4375rem;
  margin-bottom: 0;
  color: #274d08;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
}

h3.hero-subtitle {
  color: #ffa1a1;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

h4.article-more-title {
  margin-top: 2.2rem;
  color: #274d08;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

h5.p-header {
  margin-top: .4375rem;
  color: #e45d5d;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  line-height: 1.2;
}

h5.sub-heading {
  color: #721017;
  font-weight: 600;
  font-size: 1.125rem;
  font-family: 'Raleway', sans-serif;
}

h6 {
  margin-top: .75rem;
  margin-bottom: .75rem;
  text-transform: uppercase;
  letter-spacing: .05rem;
  font-size: 1.25rem;
  font-family: 'Quicksand', sans-serif;
}

h6.credits {
  color: #1c0802;
  font-size: .9375rem;
}

h6.side-heading {
  float: none;
  margin-top: 0;
  margin-bottom: .4375rem;
  padding-left: .625rem;
  color: #274d08;
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.2;
}

h6.vibe-heading {
  color: rgba(15, 17, 46, .6);
  text-align: center;
  font-size: 1.25rem;
}

h6.about-footer {
  margin-top: 1.8125rem;
  color: #fff;
  text-align: center;
  font-size: 1.625rem;
}

h6.panel-heading {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

p.paragraph span.bold {
  font-weight: 600;
}

p.paragraph {
  color: #1c1c1c;
  font-family: 'Quicksand', sans-serif;
}

p.paragraph.contact-info {
  margin-bottom: 0;
  padding-left: .625rem;
  text-align: left;
}

p.paragraph a.inline-link {
  color: #721017;
  text-decoration: underline;
  text-transform: uppercase;
}

p.paragraph span.small-text {
  font-size: .75rem;
  line-height: 1.2;
}

p.paragraph.vibe-p {
  margin: .4375rem auto 3.125rem;
  padding-bottom: .3125rem;
  width: 95%;
  text-align: center;
}

p.paragraph.form-p {
  margin-bottom: .4375rem;
  text-align: center;
  font-size: .875rem;
}

p.paragraph.footer-p {
  margin-right: auto;
  margin-bottom: 5rem;
  margin-left: auto;
  padding-top: 5px;
  width: 90%;
  color: #f2f2f2;
  text-align: center;
}

p.paragraph.credits {
  margin-top: 1rem;
}

p.paragraph.date {
  margin-bottom: .5rem;
  font-style: italic;
  font-size: .75rem;
}

p.paragraph.share-text {
  float: left;
  margin-bottom: 0;
  padding: 0 .4375rem;
  color: #fff;
  font-size: 1rem;
  line-height: 1.2;
  cursor: pointer;
}

p.paragraph.about-para {
  margin-bottom: 0;
  text-align: center;
  font-size: .875rem;
}

p.paragraph.panel-text {
  margin-bottom: .5rem;
}

p.paragraph.price-text {
  margin-bottom: .5rem;
}

p.paragraph.author {
  margin-top: 1rem;
  text-align: center;
}

p.paragraph a.link-inline {
  color: #721017;
  text-decoration: underline;
  text-transform: uppercase;
}

a.link-text {
  display: inline-block;
  margin-top: .4375rem;
  margin-bottom: .4375rem;
  padding-right: .5625rem;
  padding-left: .5625rem;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
}

a.link-text#nav-menu {
  -ms-flex-order: 0;

  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
     -moz-box-ordinal-group: 1;
          order: 0;
}

a.link-text#nav-review {
  -ms-flex-order: 1;

  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
          order: 1;
}

a.link-text#nav-taste {
  -ms-flex-order: 1;

  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
          order: 1;
}

a.link-text#nav-story {
  -ms-flex-order: 5;

  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
     -moz-box-ordinal-group: 6;
          order: 5;
}

a.link-text#nav-vibes {
  -ms-flex-order: 4;

  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
     -moz-box-ordinal-group: 5;
          order: 4;
}

a.link-text#nav-design {
  -ms-flex-order: 6;

  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
     -moz-box-ordinal-group: 7;
          order: 6;
}

a.link-text.menu-link {
  color: #fff;
  font-weight: 600;
  font-size: 1.125rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
}

a.link-text.nav-link {
  display: block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
}

a.link-text.map-link {
  color: #1c1c1c;
  text-decoration: underline;
  font-weight: 400;
}

a.link-text.accordion-title {
  margin-top: 0;
  margin-bottom: 0;
  padding: .7rem .5625rem;
  border-bottom-width: 0;
  background-color: #151249;
  font-family: 'Quicksand', sans-serif;
}

a.link-text#menu-link-button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

a.link-text.nav-link:hover {
  color: #e45d5d;
}

a.link-text.accordion-title:hover {
  background-color: #121037;
}

a.link-text.menu-link:hover {
  color: #e45d5d;
}

/* Interaction Elements */

a.link-button {
  font-variant: small-caps;
  font-family: 'Raleway', sans-serif;
}

a.link-button.vibe-subscribe {
  display: block;
  margin: .4375rem auto 3.3125rem;
  padding: .625rem 30px;
  max-width: 300px;
  border-radius: 4px;
  background-color: #e45d5d;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-variant: normal;
  font-family: 'Quicksand', sans-serif;
}

a.link-button.read-more {
  display: block;
  float: none;
  margin: .4375rem 0 .625rem;
  padding: .625rem 1.875rem;
  max-width: 9.375rem;
  border-radius: 4px;
  background-color: #151249;
  color: #fff;
  text-align: center;
}

form.form-container.contact-us-form {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
}

input[type=text].form-input {
  margin: .3125rem auto .1875rem;
  padding: .625rem .25rem;
  max-width: 11.875rem;
  width: 100%;
}

/* Layout Elements */

.container.top-nav-column {
  position: relative;
  display: block;
  -ms-flex-pack: center;
  margin-top: 0;
  padding-right: .5rem;
  padding-left: .5rem;
  text-align: center;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container.first-section {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.25rem;
  padding-right: 15px;
  padding-left: 15px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

.container.social-container {
  margin-right: auto;
  margin-left: auto;
  min-width: 0;
  width: auto;
  text-align: left;
}

.container.full-width-image {
  margin-top: 1.875rem;
  margin-bottom: 3.125rem;
  max-width: none;
  width: 100%;
  background-image: url('../images/calum-lewis-391372-unsplash%20%281%29.jpg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.container.column-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  padding-right: 0;
  padding-left: 0;
  min-height: 15.625rem;
  background-color: rgba(0, 0, 0, .2);
}

.container.last-section {
  margin-bottom: 3.125rem;
}

.container.full-width-image.vibe {
  margin-bottom: 0;
  background-image: url('../images/xavier-coiffic-1068958-unsplash%20%281%29.jpg');
}

.container.input-container-left {
  margin-right: auto;
  margin-left: auto;
  min-width: 9.375rem;
  max-width: none;
  width: auto;
}

.container.input-container-right {
  margin-right: auto;
  margin-left: auto;
  min-width: 9.375rem;
  max-width: none;
  width: auto;
}

.container.side-top-container {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: start;
  -ms-flex-align: center;
  padding-right: .625rem;
  padding-left: .625rem;
  background-color: #dedede;

  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
}

.container.title-bar {
  display: block;
  margin-top: .9375rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 13.1875rem;
  border: .125rem solid #919191;
  border-radius: 4px;
  background-color: transparent;
}

.container#realeutatemenu {
  display: none;
}

.container.top-bar-left {
  float: left;
  width: 100%;

  -webkit-box-flex: 1;
  -webkit-flex: auto;
     -moz-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.container.top-bar {
  border-radius: 4px;
  background-color: transparent;
}

.container.responsive-menu {
  width: 100%;
}

.container.second-coast-element {
  display: none;
  margin-top: .9375rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 13.1875rem;
  border: .125rem solid #919191;
  border-radius: 4px;
  background-color: transparent;
}

.container.aside-container {
  padding-top: .75rem;
  border-top: 0 solid #ececec;
  border-right: .125rem solid #ececec;
  border-bottom: .125rem solid #ececec;
  border-left: .125rem solid #ececec;
}

.container.food-talk-top {
  position: fixed;
  top: 0;
  z-index: 1000;
  margin-bottom: 0;
  padding-top: .3125rem;
  padding-bottom: 1.25rem;
  width: 100%;
  background-color: #1a1f1b;
}

.container.first-row-fixed {
  margin-top: 0;
  padding-top: 8.4375rem;
  background-color: #1a1f1b;
}

.container.nav-sub-row {
  margin-right: auto;
  margin-left: auto;
  max-width: 75rem;
}

.container.dropdown-pane {
  position: absolute;
  left: 0;
  margin-top: .0625rem;
  max-width: 12.5rem;
  width: 100%;
}

.container.share-container {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  float: none;
  -ms-flex-align: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: .4375rem;
  padding: .4375rem;
  min-width: 7.5rem;
  max-width: none;
  width: 100%;
  background-color: #27a8ba;
  cursor: pointer;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.container.read-more-container {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  float: none;
  -ms-flex-align: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: .4375rem;
  padding: .4375rem;
  min-width: 7.5rem;
  max-width: none;
  width: 100%;
  background-color: #e45d5d;
  cursor: pointer;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.container.head-section {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  min-height: 700px;
  max-width: none;
  width: 100%;
  background-color: #020202;
  background-image: -webkit-linear-gradient(top, rgba(29, 29, 29, .51) 0%, rgba(29, 29, 29, .58) 100%), url('../images/brigitte-tohm-254381-unsplash%20%281%29.jpg');
  background-image:    -moz-linear-gradient(top, rgba(29, 29, 29, .51) 0%, rgba(29, 29, 29, .58) 100%), url('../images/brigitte-tohm-254381-unsplash%20%281%29.jpg');
  background-image:      -o-linear-gradient(top, rgba(29, 29, 29, .51) 0%, rgba(29, 29, 29, .58) 100%), url('../images/brigitte-tohm-254381-unsplash%20%281%29.jpg');
  background-image:         linear-gradient(180deg, rgba(29, 29, 29, .51) 0%, rgba(29, 29, 29, .58) 100%), url('../images/brigitte-tohm-254381-unsplash%20%281%29.jpg');
  background-attachment: scroll, scroll;
  background-position: left top, center center;
  background-clip: border-box, border-box;
  background-origin: padding-box, padding-box;
  background-size: auto auto, cover;
  background-repeat: no-repeat, no-repeat;

  background-blend-mode: darken, normal;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
}

.container.heading-holder {
  max-width: 75rem;
}

.container.eye-catcher-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  float: none;
  -ms-flex-align: center;
  margin-top: 0;
  padding-top: 0;
  padding-right: .9375rem;
  padding-left: .9375rem;
  min-height: auto;
  max-height: none;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
}

.container.card {
  margin-bottom: 1.375rem;
  padding-right: 0;
  padding-left: 0;
  min-height: .625rem;
  border: 0 none #ececec;
}

.container.map-container {
  display: none;
}

.container.first-section-1 {
  margin-top: 1.25rem;
  padding-right: 15px;
  padding-left: 15px;
}

.container.accordion-content {
  padding: .625rem;
}

.container.first-section-2 {
  margin-top: 1.25rem;
  padding-right: 15px;
  padding-left: 15px;
}

.container.vibe-images {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-align: center;
  margin-right: 0;
  margin-left: 0;
  max-width: 80rem;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.container.inputs {
  margin-right: 0;
  margin-left: 0;
  max-width: 80rem;
}

.container.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .35) 25%, rgba(0, 0, 0, .5) 40%, rgba(29, 30, 33, .5) 85%), url('../images/michael-baird-14939-unsplash%20%281%29.jpg');
  background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .35) 25%, rgba(0, 0, 0, .5) 40%, rgba(29, 30, 33, .5) 85%), url('../images/michael-baird-14939-unsplash%20%281%29.jpg');
  background-image:      -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .35) 25%, rgba(0, 0, 0, .5) 40%, rgba(29, 30, 33, .5) 85%), url('../images/michael-baird-14939-unsplash%20%281%29.jpg');
  background-image:         linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .35) 25%, rgba(0, 0, 0, .5) 40%, rgba(29, 30, 33, .5) 85%), url('../images/michael-baird-14939-unsplash%20%281%29.jpg');
  background-attachment: scroll, scroll;
  background-position: left top, center top;
  background-clip: border-box, border-box;
  background-origin: padding-box, padding-box;
  background-size: auto auto, cover;
  background-repeat: no-repeat, no-repeat;

  background-blend-mode: normal, normal;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.container.footer-text {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin-right: 0;
  margin-left: 0;
  max-width: 80rem;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
}

.container.footer-nav-container {
  position: relative;
  display: block;
  -ms-flex-pack: center;
  margin-top: 0;
  padding: 20px .5rem;
  text-align: center;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container.location {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.25rem;
  padding-right: 15px;
  padding-left: 15px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

.container.article-container {
  margin-top: .625rem;
  margin-bottom: .625rem;
  padding: .625rem;
  background-color: #f2f2f2;
}

.container.food-card {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0;
  margin-left: 0;
  max-width: 80rem;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

.container.article-img-container {
  padding-right: 0;
  padding-left: 0;
}

.container.button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: start;
  -ms-flex-align: center;

  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

.container.article-text-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.container.article-title-container {
  border-top: .0625rem solid #f2f2f2;
}

.container.rule-container {
  margin-right: 0;
  margin-left: 0;
  max-width: 80rem;
}

.container.about-container {
  margin-top: 5.9375rem;
  max-width: 56.25rem;
  background-color: #f2f2f2;
}

.container.description-container {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 80rem;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.container.logos {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
}

.container.article-more-container {
  position: relative;
  display: none;
  max-width: 56.25rem;
}

.container.best-restaurant {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-align: center;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 10px;
  min-height: 136px;
  max-width: 80rem;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .65) 0%, rgba(0, 0, 0, .65) 100%), url('../images/dishes.jpeg');
  background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, .65) 0%, rgba(0, 0, 0, .65) 100%), url('../images/dishes.jpeg');
  background-image:      -o-linear-gradient(top, rgba(0, 0, 0, .65) 0%, rgba(0, 0, 0, .65) 100%), url('../images/dishes.jpeg');
  background-image:         linear-gradient(180deg, rgba(0, 0, 0, .65) 0%, rgba(0, 0, 0, .65) 100%), url('../images/dishes.jpeg');
  background-attachment: scroll, scroll;
  background-position: left top, center center;
  background-clip: border-box, border-box;
  background-origin: padding-box, padding-box;
  background-size: auto auto, auto auto;
  background-repeat: no-repeat, no-repeat;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  background-blend-mode: normal, normal;
}

.container.rating-container {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  width: 100%;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.container.star-container {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  width: 100%;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.container.logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  float: none;
  -ms-flex-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-right: .3125rem;
  padding-left: .3125rem;
  max-width: none;
  width: 50%;
  text-align: center;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

a.social-image.social-icons {
  margin-right: 1%;
  margin-left: 5%;
  max-width: 2.4375rem;
  background-color: #e45d5d;
}

div.responsive-picture.impression {
  margin: .4375rem auto;
  max-width: 10rem;
}

span.glyph.side-icon {
  -ms-flex-order: 0;
  float: left;
  margin-right: 2%;
  padding-top: .125rem;
  padding-bottom: .125rem;
  color: #1a1f1b;
  text-align: center;
  font-size: 1.25rem;

  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
          align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
     -moz-box-ordinal-group: 1;
          order: 0;
}

ul.list-container.dropdown.menu {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: transparent;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
}

a.glyph.menu-link {
  display: inline-block;
  clear: right;
  margin-right: 1%;
  color: #fff;
  vertical-align: middle;
  font-size: 1.25rem;
  line-height: 0;
}

li.list-item-container.menuitem {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.html-element.map-element {
  max-width: 75rem;
  max-height: none;
  width: 100%;
}

div.responsive-picture.article-image {
  margin-top: .4375rem;
  margin-bottom: .4375rem;
  max-width: none;
}

a.social-image.share-icons {
  margin-right: 2%;
  background-color: rgba(15, 17, 46, .8);
}

a.social-image#twitter {
  background-color: #197baf;
}

a.social-image#google {
  background-color: rgba(255, 123, 0, .8);
}

a.social-image#me {
  background-color: #721017;
}

a.social-image#pin {
  background-color: rgba(167, 24, 100, .8);
}

a.social-image#fq {
  background-color: #ad2333;
}

a.social-image#ig {
  background-color: #151249;
}

a.social-image#li {
  background-color: #1c0802;
}

span.glyph.icon-article {
  float: left;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  font-size: .875rem;
}

ul.list-container.accordion {
  margin-bottom: -.0625rem;
  background-color: #151249;
}

a.social-image#twitter-shrimps {
  background-color: #197baf;
}

a.social-image#google-shrimps {
  background-color: rgba(255, 123, 0, .8);
}

a.social-image#me-shrimps {
  background-color: #721017;
}

a.social-image#pin-shrimps {
  background-color: rgba(167, 24, 100, .8);
}

a.social-image#fq-shrimps {
  background-color: #ad2333;
}

a.social-image#ig-shrimps {
  background-color: #151249;
}

a.social-image#li-shrimps {
  background-color: #1c0802;
}

a.social-image#twitter-delight {
  background-color: #197baf;
}

a.social-image#google-delight {
  background-color: rgba(255, 123, 0, .8);
}

a.social-image#me-delight {
  background-color: #721017;
}

a.social-image#pin-delight {
  background-color: rgba(167, 24, 100, .8);
}

a.social-image#fq-delight {
  background-color: #ad2333;
}

a.social-image#ig-delight {
  background-color: #151249;
}

a.social-image#li-delight {
  background-color: #1c0802;
}

a.social-image#twitter-treat {
  background-color: #197baf;
}

a.social-image#google-treat {
  background-color: rgba(255, 123, 0, .8);
}

a.social-image#me-treat {
  background-color: #721017;
}

a.social-image#pin-treat {
  background-color: rgba(167, 24, 100, .8);
}

a.social-image#fq-treat {
  background-color: #ad2333;
}

a.social-image#ig-treat {
  background-color: #151249;
}

a.social-image#li-treat {
  background-color: #1c0802;
}

span.glyph.close-button {
  position: absolute;
  top: 5px;
  right: 15px;
  color: rgba(0, 0, 0, .5);
  font-size: 30px;
}

.rule.article-hr {
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}

span.glyph.star-icons {
  float: none;
  margin-right: 1%;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
}

div.responsive-picture.logo-images {
  float: left;
  margin-top: 1.5625rem;
  margin-right: 1%;
  margin-bottom: 1.5625rem;
  max-width: 9.375rem;
}

a.social-image.social-icons:hover {
  background-color: #e45d5d;
}

@media screen and (min-width: 20.0625rem) {
  /* Text Elements */

  h1.food-talk-title {
    margin-top: 0;
    font-size: 1.5rem;
  }

  h2.menu-title {
    font-size: 2.1875rem;
  }

  h2.logo-heading {
    font-size: 2rem;
  }

  h4.article-more-title {
    margin-top: 1.875rem;
    font-size: 1.375rem;
  }

  p.paragraph.share-text {
    padding-top: 0;
    padding-bottom: 0;
  }

  a.link-text {
    padding-right: .625rem;
    padding-left: .625rem;
    width: 50%;
    font-size: 1rem;
  }

  a.link-text.nav-link {
    width: 100%;
  }

  a.link-text.menu-link {
    width: 100%;
  }

  a.link-text.map-link {
    width: 100%;
  }

  a.link-text.accordion-title {
    width: 100%;
  }

  /* Interaction Elements */

  input[type=text].form-input {
    min-width: 15.625rem;
    max-width: 75rem;
    width: auto;
  }

  /* Layout Elements */

  .container.title-bar {
    padding: .75rem 0;
    max-width: 15.625rem;
    width: 100%;
  }

  .container.second-coast-element {
    padding: .75rem 0;
    max-width: 15.625rem;
    width: 100%;
  }

  .container.column-cover {
    min-height: 21.875rem;
  }

  .container.first-row-fixed {
    padding-top: 7.8125rem;
  }

  .container.food-talk-top {
    padding-top: 0;
    padding-bottom: 1.25rem;
  }

  .container.share-container {
    margin-top: 0;
    margin-right: 2%;
    padding-top: .75rem;
    padding-bottom: .75rem;
    max-width: 9.375rem;
  }

  .container.read-more-container {
    margin-top: 0;
    margin-right: 2%;
    padding-top: .75rem;
    padding-bottom: .75rem;
    max-width: 9.375rem;
  }

  .container.vibe-images {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: center;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container.button-container {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: none;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  .container.footer-container {
    background-position: left top, center top;
  }

  .container.head-section {
    background-image: -webkit-linear-gradient(top, rgba(29, 29, 29, .51) 0%, rgba(29, 29, 29, .58) 100%), url('../images/brigitte-tohm-254381-unsplash%20%281%29.jpg');
    background-image:    -moz-linear-gradient(top, rgba(29, 29, 29, .51) 0%, rgba(29, 29, 29, .58) 100%), url('../images/brigitte-tohm-254381-unsplash%20%281%29.jpg');
    background-image:      -o-linear-gradient(top, rgba(29, 29, 29, .51) 0%, rgba(29, 29, 29, .58) 100%), url('../images/brigitte-tohm-254381-unsplash%20%281%29.jpg');
    background-image:         linear-gradient(180deg, rgba(29, 29, 29, .51) 0%, rgba(29, 29, 29, .58) 100%), url('../images/brigitte-tohm-254381-unsplash%20%281%29.jpg');
  }

  .container.logo-container {
    -ms-flex-pack: center;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  span.glyph.icon-article {
    padding-top: 0;
    padding-bottom: 0;
  }

  span.glyph.close-button {
    margin-bottom: 0;
  }

  div.responsive-picture.logo-images {
    margin-right: 0;
  }
}

@media screen and (min-width: 28.6875rem) {
  /* Text Elements */

  h1.eye-catcher {
    float: none;
    clear: none;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
    padding: 0 .625rem 0 .3125rem;
    max-width: none;
    font-size: 3.125rem;
  }

  h1.food-talk-title {
    font-size: 2.25rem;
  }

  h4.article-more-title {
    font-size: 2.125rem;
  }

  p.paragraph.footer-p {
    margin-bottom: 15rem;
    width: 90%;
  }

  a.link-text {
    width: 33%;
  }

  /* Interaction Elements */

  input[type=text].form-input {
    min-width: 21.875rem;
  }

  /* Layout Elements */

  .container.aside-container {
    min-height: 9.9375rem;
  }

  .container.first-row-fixed {
    padding-top: 6.875rem;
  }

  .container.head-section {
    background-image: -webkit-linear-gradient(top, rgba(29, 29, 29, .51) 0%, rgba(29, 29, 29, .58) 100%), url('../images/brigitte-tohm-254381-unsplash%20%281%29.jpg');
    background-image:    -moz-linear-gradient(top, rgba(29, 29, 29, .51) 0%, rgba(29, 29, 29, .58) 100%), url('../images/brigitte-tohm-254381-unsplash%20%281%29.jpg');
    background-image:      -o-linear-gradient(top, rgba(29, 29, 29, .51) 0%, rgba(29, 29, 29, .58) 100%), url('../images/brigitte-tohm-254381-unsplash%20%281%29.jpg');
    background-image:         linear-gradient(180deg, rgba(29, 29, 29, .51) 0%, rgba(29, 29, 29, .58) 100%), url('../images/brigitte-tohm-254381-unsplash%20%281%29.jpg');
    background-attachment: scroll, scroll;
    background-position: left top, center center;
    background-clip: border-box, border-box;
    background-origin: padding-box, padding-box;
    background-size: auto auto, cover;
    background-repeat: no-repeat, no-repeat;

    background-blend-mode: normal, normal;
  }

  .container.card {
    padding-right: .625rem;
    padding-left: .625rem;
  }

  .container.article-text-container {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .container.logos {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
  }

  .container.logo-container {
    width: 100%;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }

  div.responsive-picture.logo-images {
    margin-top: .3125rem;
    margin-right: 1%;
    margin-bottom: .3125rem;
  }
}

@media screen and (min-width: 40rem) {
  /* Text Elements */

  h1.eye-catcher {
    font-size: 4.25rem;
  }

  h1.food-talk-title {
    font-size: 3.125rem;
  }

  h2.about-heading {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.875rem;
  }

  h2.top-about-heading {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 1.25rem;
  }

  h4.article-more-title {
    font-size: 2.875rem;
  }

  h5.p-header {
    font-size: 1.75rem;
  }

  h6.side-heading {
    text-align: left;
  }

  p.paragraph.contact-info {
    text-align: left;
  }

  p.paragraph.vibe-p {
    width: 85%;
  }

  p.paragraph.credits {
    margin-top: 1rem;
  }

  p.paragraph.article-text {
    margin-bottom: .4375rem;
  }

  p.paragraph.date {
    margin-bottom: 0;
  }

  p.paragraph.share-text {
    padding-top: 0;
    padding-bottom: 0;
  }

  a.link-text.nav-link {
    display: inline-block;
    padding-right: .3125rem;
    padding-left: .3125rem;
    width: auto;
    font-size: .875rem;
  }

  a.link-text.accordion-title {
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    font-size: 1rem;
  }

  /* Interaction Elements */

  input[type=text].form-input {
    max-width: 21.875rem;
    width: 100%;
  }

  /* Layout Elements */

  .container.first-section {
    margin-top: 4.375rem;
  }

  .container.social-container {
    margin-right: 0;
    margin-left: 0;
    min-width: .625rem;
    width: 100%;
    text-align: left;
  }

  .container.title-bar {
    display: none;
    max-width: 15.625rem;
    width: auto;
  }

  .container#realeutatemenu {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
  }

  .container.top-bar-left {
    padding-top: 0;
  }

  .container.title-bar-title {
    display: block;
  }

  .container.second-coast-element {
    display: block;
    padding-top: .75rem;
    max-width: 15.625rem;
    width: auto;
  }

  .container.column-cover {
    min-height: 25rem;
  }

  .container.first-row-fixed {
    margin-top: 5.3125rem;
    padding-top: 5rem;
  }

  .container.eye-catcher-holder {
    margin-top: 4rem;
  }

  .container.card {
    margin-bottom: .3125rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    min-height: 14.375rem;
    width: 50%;
  }

  .container.aside {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    padding-right: .625rem;
    padding-left: .625rem;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container.first-section-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    margin-top: 4.375rem;
  }

  .container.first-section-2 {
    margin-top: 4.375rem;
  }

  .container.vibe-images {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }

  .container.location {
    margin-top: 4.375rem;
  }

  .container.article-container {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: auto;
    margin-left: auto;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
  }

  .container.article-img-container {
    padding-left: 0;
  }

  .container.food-card {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  .container.article-text-container {
    padding-left: 20px;
  }

  .container.about-container {
    margin-top: 9.375rem;
  }

  .container.description-container {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container.read-more-container {
    background-color: #e45d5d;
  }

  .container.head-section {
    background-attachment: scroll, scroll;
  }

  .container.best-restaurant {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container.rating-container {
    padding-bottom: 10px;
  }

  a.social-image.social-icons {
    margin-right: 1%;
    margin-left: 5%;
    max-width: 2.4375rem;
  }

  a.glyph.menu-link {
    display: none;
  }

  li.list-item-container.menuitem {
    width: auto;
  }

  ul.list-container.dropdown.menu {
    -ms-flex-pack: justify;
    -ms-flex-align: center;
    width: 100%;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }

  ul.list-container.accordion {
    width: 50%;
  }
}

@media screen and (min-width: 48.75rem) {
  /* Text Elements */

  h1.eye-catcher {
    margin-top: 0;
    font-size: 4.375rem;
  }

  h1.food-talk-title {
    font-size: 3.75rem;
  }

  h2.about-heading {
    padding-bottom: 0;
  }

  h2.top-about-heading {
    padding-bottom: 0;
  }

  h2.menu-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3.125rem;
  }

  h2.logo-heading {
    float: left;
    color: #fff;
    font-size: 2.25rem;
  }

  h2 span.best-color {
    color: #fff;
  }

  h5.p-header {
    -ms-flex-order: 1;

    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
            order: 1;
  }

  h6.side-heading {
    padding-right: .3125rem;
    padding-left: 0;
    text-align: left;
  }

  h6.panel-heading {
    font-size: 1.125rem;
  }

  h6.about-footer {
    color: #fff;
  }

  p.paragraph.vibe-p {
    width: 66%;
  }

  p.paragraph.footer-p {
    width: 70%;
  }

  p.paragraph.contact-info {
    padding-right: .3125rem;
    padding-left: 0;
    text-align: left;
    font-size: 1rem;
  }

  p.paragraph.share-text {
    cursor: pointer;
  }

  a.link-text {
    width: auto;
  }

  a.link-text.nav-link {
    font-size: 1rem;
  }

  a.link-text.map-link {
    padding-left: 0;
    text-align: left;
    font-size: .9375rem;
  }

  a.link-text span.accordian-text-color {
    color: #274d08;
  }

  a.link-text.accordion-title {
    background-color: #fff;
    color: #fff;
    font-size: 1.375rem;
  }

  a.link-text.accordion-title:hover {
    background-color: #f2f2f2;
  }

  /* Interaction Elements */

  form.form-container.contact-us-form {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
  }

  /* Layout Elements */

  .container.full-width-image {
    background-attachment: fixed;
  }

  .container.column-cover {
    min-height: 28.125rem;
  }

  .container.social-container {
    text-align: left;
  }

  .container.aside-container {
    padding: .3125rem;
    min-height: 3.125rem;
  }

  .container.share-container {
    background-color: #27a8ba;
    background-image: none;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .container.read-more-container {
    background-image: none;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;

    background-blend-mode: normal;
  }

  .container.head-section {
    padding-top: 1.25rem;
    background-attachment: fixed, scroll;
    background-position: left top, center center;
    background-size: cover, cover;
  }

  .container.eye-catcher-holder {
    margin-top: 4rem;
  }

  .container.card {
    padding-right: .9375rem;
    padding-left: 0;
    min-height: 3.125rem;
    width: 100%;
  }

  .container.aside {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-order: 2;
    -ms-flex-pack: end;
    padding-right: 0;
    padding-left: 0;
    max-width: 300px;
    width: 33%;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
            order: 2;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
            justify-content: flex-end;
  }

  .container.first-section {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: justify;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  .container.main {
    padding-right: 10px;
    padding-left: 10px;
    max-width: none;
    width: 66%;
  }

  .container.first-section-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: justify;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  .container.accordion-content {
    display: block;
    border-bottom-width: 0;
  }

  .container.first-section-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: justify;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
  }

  .container.vibe-images {
    margin-right: auto;
    margin-left: auto;
  }

  .container.inputs {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: distribute;

    -webkit-justify-content: space-around;
            justify-content: space-around;
  }

  .container.location {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: justify;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  .container.first-row-fixed {
    padding-bottom: 5px;
  }

  .container.article-container {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 56.25rem;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  .container.article-img-container {
    padding-right: .9375rem;
    padding-left: .625rem;
  }

  .container.food-card {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
  }

  .container.about-container {
    max-width: none;
  }

  .container.description {
    width: 32%;
  }

  .container.description-container {
    -ms-flex-pack: justify;
    padding-right: 12px;
    padding-left: 12px;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  .container.article-more-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 80rem;
    width: 100%;
  }

  .container.best-restaurant {
    -ms-flex-pack: justify;
    margin-top: 35px;
    padding: 30px 12px;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  .container.rating-container {
    width: 100%;
  }

  .container.star-container {
    width: 100%;
  }

  span.glyph.side-icon {
    width: 100%;
    text-align: left;
  }

  ul.list-container.accordion {
    border-width: 0;
    background-color: transparent;
  }

  div.responsive-picture.impression {
    margin-right: 0;
    margin-left: 0;
    padding-right: 5px;
    padding-left: 5px;
  }

  span.glyph.icon-article {
    cursor: pointer;
  }

  span.glyph.star-icons {
    float: left;
    margin-right: 1%;
    color: #fff;
    text-align: center;
  }

  div.responsive-picture.logo-images {
    margin-top: .9375rem;
    margin-bottom: .9375rem;
  }

  ul.list-container.accordion:hover {
    background-color: transparent;
  }
}

@media screen and (min-width: 64rem) {
  /* Text Elements */

  h1.eye-catcher {
    float: none;
    padding-left: .3125rem;
    width: auto;
    background-color: transparent;
    text-align: center;
  }

  h1.food-talk-title {
    font-family: 'Quicksand', sans-serif;
  }

  h2.about-heading {
    color: #e45d5d;
    text-transform: uppercase;
    font-size: 1.875rem;
    font-family: 'Playfair Display', serif;
  }

  h2.top-about-heading {
    text-transform: uppercase;
    font-size: 1.375rem;
    font-family: 'Quicksand', sans-serif;
  }

  h2.menu-title {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 5rem;
  }

  h5.p-header {
    font-size: 2rem;
  }

  h6.panel-heading {
    font-size: 1.125rem;
  }

  h6.about-footer {
    color: #fff;
  }

  p.paragraph.footer-p {
    margin-bottom: 16.875rem;
  }

  p.paragraph.about-para {
    font-size: 1rem;
  }

  p.paragraph span.paragraph-text-1 {
    font-weight: 600;
  }

  a.link-text.nav-link {
    font-size: 1.125rem;
  }

  a.link-text.map-link {
    margin-bottom: 0;
  }

  a.link-text span.accordian-text-color {
    color: #274d08;
  }

  a.link-text.accordion-title {
    color: #fff;
    font-size: 1.4375rem;
  }

  /* Interaction Elements */

  a.link-button.read-more {
    background-color: #e45d5d;
    font-variant: normal;
  }

  a.link-button {
    font-variant: small-caps;
    font-family: 'Quicksand', sans-serif;
  }

  /* Layout Elements */

  .container.top-nav-column {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;

    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container.first-section {
    -ms-flex-pack: justify;
    margin-top: 4.375rem;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  .container.full-width-image {
    min-height: 25rem;
  }

  .container.full-width-image.vibe {
    margin-bottom: 0;
  }

  .container.input-container-left {
    float: right;
    min-width: 20.3125rem;
  }

  .container.input-container-right {
    float: left;
    min-width: 20.3125rem;
  }

  .container.top-bar-left {
    padding-top: 0;
  }

  .container.top-bar {
    margin-top: .4375rem;
  }

  .container.aside-container {
    padding-top: .4375rem;
    padding-bottom: .4375rem;
  }

  .container.column-cover {
    margin-right: auto;
    margin-left: auto;
    min-height: 37.5rem;
  }

  .container.first-row-fixed {
    margin-top: 4.375rem;
    padding-top: 6.25rem;
    max-width: none;
    width: auto;
    background-color: #1a1f1b;
  }

  .container.food-talk-top {
    max-width: none;
  }

  .container.share-container {
    min-width: 0;
  }

  .container.read-more-container {
    margin-left: 2%;
    min-width: 0;
  }

  .container.head-section {
    min-height: 800px;
    background-position: left top, center center;
    background-size: auto auto, cover;
  }

  .container.heading-holder {
    margin-right: auto;
    margin-left: auto;
  }

  .container.eye-catcher-holder {
    margin-top: 4rem;
  }

  .container.card {
    float: none;
  }

  .container.main {
    padding-right: 0;
    width: 70%;
  }

  .container.map-container {
    min-height: .625rem;
    height: auto;
  }

  .container.first-section-1 {
    -ms-flex-pack: justify;
    margin-top: 4.375rem;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  .container.first-section-2 {
    -ms-flex-pack: justify;
    margin-top: 4.375rem;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  .container.vibe-images {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: center;
    max-width: 80rem;
    width: 100%;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container.inputs {
    max-width: 80rem;
    width: 100%;
  }

  .container.footer-text {
    margin-right: auto;
    margin-left: auto;
    max-width: 80rem;
    width: 100%;
  }

  .container.footer-nav-container {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    margin-top: 23rem;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;

    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container.footer-container {
    padding-top: 10px;
    background-position: left top, center center;
  }

  .container.location {
    -ms-flex-pack: justify;
    margin-top: 4.375rem;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  .container.article-container {
    margin-top: 3.125rem;
    margin-bottom: 1.5625rem;
    max-width: 80rem;
    border-right: 0 none #fff;
    border-left: 0 none #fff;
  }

  .container.food-card {
    max-width: 80rem;
    width: 100%;
  }

  .container.button-container {
    -ms-flex-pack: center;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container.rule-container {
    margin-bottom: 0;
    padding-bottom: 0;
    max-width: 80rem;
    width: 100%;
  }

  .container.about-container {
    margin-top: 10rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    max-width: none;
  }

  .container.description-container {
    max-width: 80rem;
    width: 100%;
  }

  .container.article-more-container {
    position: relative;
    display: none;
    margin-right: auto;
    margin-left: auto;
    max-width: 80rem;
    width: 100%;
  }

  .container.best-restaurant {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    padding-top: 20px;
    min-height: 150px;
    max-width: 80rem;
    width: 100%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
  }

  .container.rating-container {
    padding-bottom: 10px;
  }

  span.glyph.side-icon {
    font-size: 1.5625rem;
  }

  .html-element.map-element {
    min-width: 3.125rem;
    min-height: .625rem;
    max-width: none;
    max-height: none;
    width: auto;
  }

  ul.list-container.dropdown.menu {
    width: 100%;
  }

  div.responsive-picture.impression {
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding-right: 5px;
    padding-left: 5px;
  }

  span.glyph.close-button {
    position: absolute;
    top: .5rem;
    right: 1rem;
  }

  div.responsive-picture.logo-images {
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
  }
}