body {
	background-color: #ADD8E6;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/*
*/
.container {
    display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

.nav {
    width: 1024px;
    height: 35px;
    display:flex;
	justify-content:space-between;
	align-items:center;
}

.nav_left {
    float: left;
}

.nav_right {
    float: right;
}

.header {
    height:200px;
}

.footer {
    height:50px;
}

.index_channel {
    width: 1024px;
    min-height: 200px;
    display:flex;
	justify-content:center;
	align-items:center;
}

.index_channel_group {
    width: 480px;
}


.form {
    min-width: 500px;
    min-height: 300px;
    background-color: #FFC0CB;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

.form_title {
    font-weight: bold;
    line-height: 50px;
}

.form_item {
    height: 35px;
    min-width: 400px;
    display:flex;
	justify-content:center;
	align-items:center;
}

.form_textarea_item {
    height: 35px;
    width: 1024px;
    display:flex;
	justify-content:center;
	align-items:center;
}

.form_textarea {
    width: 1024px;
    display:flex;
	justify-content:center;
	align-items:center;
}

.form_textarea_field {
    position: relative;
    width: 700px;
}

.form_label {
    position: relative;
    font-weight: bold;
    width: 100px;
    text-align: justify;
}

.form_field {
    position: relative;
    width: 300px;
}

.form_button {
    height: 50px;
    display:flex;
    justify-content:center;
	align-items:center;
}

.form_msg {
    font-weight: bold;
    margin-left: 100px;
}


.channel {
    width: 1024px;
    background-color: #FFC0CB;
    display:flex;
    justify-content:center;
	align-items:center;
    flex-direction:column;
}

.channel_panel {
    width: 1024px;
    min-height: 35px;
}

.channel_panel_msg {
    font-weight: bold;
}

.channel_paging {
    height: 50px;
    display:flex;
    justify-content:center;
	align-items:center;
}

.channel_list {
    border: solid 1px red;
}

.channel_list_item {
    width: 900px;
    border: solid 1px white;
    margin: 5px;
    display:flex;
    justify-content:space-between;
	align-items:center;
}

.channel_list_item_left {
    width: auto;
}

.channel_list_item_right {
    min-width: 60px;
    display:flex;
    justify-content:space-between;
	align-items:center;
 }

.channel_list_item_right_item {
    margin: 0px 20px;
}

.side {
    width: 1024px;
    min-height: 60px;
    display:flex;
    justify-content:center;
	align-items:center;
}

.side_small {
    min-width: 100px;
    background-color: #FFC0CB;
}

.side_large {
    width:100%;
}

.side_title {
    height: 35px;
    font-weight: bold;
    cursor:pointer;
}

.side_item {
    height: 35px;
    font-weight: bold;
    cursor:pointer;
}