
<div class="index_channel">
    <fieldset>
        <legend>House</legend>
        <div class="index_channel">
            <div class="index_channel_group">
                <% 
                if(house_rents){ 
                    house_rents.forEach(item => {
                %>
                        a
                <% 
                    });
                } 
                %>
            </div>
            <div class="index_channel_group">2</div>
        </div>
    </fieldset>
</div>