<div class="nav">
    <div class="nav_left">
        <a href="/">Home</a> |
        <a href="/">About</a>
    </div>
    <div id="nav_right" class="nav_right">
        <a href="/login.html">Login</a> |
        <a href="/register.html">Register</a>
    </div>
</div>