<div>
    <nav>
        <div class="nav_container">
            <div class="nav_left">
                <a class="nav_item" href="/">Home</a> |
                <a href="/">About</a>
            </div>
            <div class="nav_right">
                <a href="/login.html">Login</a> |
                <a href="/register.html">Register</a>
            </div>
        </div>
    </nav>
</div>