


<div class="channel">
    <form id="form">
    
    <div class="channel_paging">

    </div>
    <div class="channel_list">
        <div class="channel_list_item">
            <div class="channel_list_item_left">
                
            </div>
            <div class="channel_list_item_right">
                <div class="channel_list_item_rigth_item">
                    <input type="button" id="remove" value="remove" onclick="remove_tradings();" disabled>
                </div>
            </div>
        </div>

        <input type="hidden" name="test">
        <% 
            if(tradings){
                tradings.forEach(trading => { %>
                    <div class="channel_list_item">
                        <div class="channel_list_item_left">
                            <%=trading.content %>
                        </div>
                        <div class="channel_list_item_right">
                            <div class="channel_list_item_rigth_item">
                                <a href="/trading/trading.html" onclick="$.set_cookie('did', <%=trading.trading_id%>)">Edit</a>
                            </div>
                            <div class="channel_list_item_rigth_item">
                                <input type="checkbox" id="ids" name="ids" value="<%=trading.trading_id%>" onclick="$.element('remove').disabled = false;">
                            </div>
                        </div>
                    </div>
                <% });
            }
        %>
    </div>
    <div class="channel_paging">

    </div>

    </form>
</div>

