.profile_box {
    width: 765px;
    min-height: 600px;
}

.profile_panel {
    width: 748px;
}

.info_box {

}

.info_panel {
    width: 740px;
}

.item {
    line-height: 35px;
    display:flex;
	justify-content:left;
	align-items:center;
}

.item_label {
    width: 100px;
    line-height: 35px;
}
