.profile_box {
    width: 765px;
    min-height: 600px;
}

.profile_panel {
    width: 740px;
}

.info_box {
    width: 720px;
}

.info_panel {
    width: 740px;
}

.item {
    width: 740px;
    line-height: 35px;
    display:flex;
	justify-content:space-between;
	align-items:center;
}

.profile_item {
    width: 740px;
    display:flex;
	justify-content:space-between;
	align-items:top;
}

.left_item {
    display:flex;
	justify-content:center;
	align-items:top;
}

.right_item {
    display:flex;
	justify-content:center;
	align-items:center;
}

.right_button {
    width: 50px;    
}

.item_label {
    width: 100px;
    line-height: 35px;
}

.item_value {
    display:flex;
	justify-content:center;
	align-items:center;
}

.form_item {
    width: 350px;
}

.form_label {
    width: 120px;
    text-align: left;
}

.form_value {
    width: 200px;
}

.profile_panel {
    width: 740px;
    min-height: 350px;
}

.intro_form {
    width: 500px;
    margin-top: 10px;
}

.region_title {
    width: 100px;
}

.region_value {
    width: 150px;
}

.city_value {
    width: 100px;
}