.region {
    width:  1024px;
}

.title {
    width: 1024px;
    min-height: 200px;
    display:flex;
	justify-content:center;
	align-items:center;
    border: 0px;
    border-top: 1px solid black;
}

.channel {
    width: 1000px;
    min-height: 200px;
    display:flex;
	justify-content:center;
	align-items:center;
    flex-direction:column;
}

.channel_group {
    width: 525px;
    height: 240px;
}

.channel_panel {
    width: 495px;
    height: 180px;

}

.channel_item {
	width: 465px;
	height: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.search_box {
    line-height: 50px;
    display:flex;
	justify-content:center;
	align-items:center;
}

.list_box {
    width: 980px;
    display:flex;
	justify-content:center;
	align-items:center;
    flex-direction:column;
}


.pages_top_box {
    width: 980px;
    line-height: 50px;
    display:flex;
	justify-content:center;
	align-items:center;
    border-bottom: 1px solid black;
}

.pages_bottom_box {
    width: 980px;
    line-height: 50px;
    display:flex;
	justify-content:center;
	align-items:center;
    border-top: 1px solid black;
}

.pages {
    width: 200px;
    display:flex;
	justify-content:space-between;
	align-items:center;
}

.item_box {
    width: 980px;
}

.item {
    width: 980px;
	height: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}