<fieldset class="info_box">
    <legend>Account</legend>
    <div class="info_panel">
        <div class="item">
            <div class="item_label">
                Username
            </div>
            <div id="username" class="item_value">

            </div>
        </div>
        <div class="item">
            <div class="item_label">
                Nickname
            </div>
            <div id="nickname" class="item_value">

            </div>
            <button>Edit</button>
        </div>
        <div class="item">
            <div class="item_label">
                Password
            </div>
            <div class="item_value">
                ********
            </div>
            <button>Edit</button>
        </div>
        <div class="item">
            <div class="item_label">
                Email
            </div>
            <div id="email" class="item_value">
                
            </div>
            <button>Edit</button>
        </div>
    </div>
</fieldset>
<fieldset class="info_box">
    <legend>Profile</legend>
    <div class="info_panel">
        <div class="item">
            <div class="item_label">
                Nationality
            </div>
            <div id="email" class="item_value">
                
            </div>
            <button>Edit</button>
        </div>
        <div class="item">
            <div class="item_label">
                Location
            </div>
            <div id="email" class="item_value">
                
            </div>
            <button id="location_edit">Edit</button>
            <div id="location">

            </div>
        </div>
        <div class="item">
            <div class="item_label">
                Intro
            </div>
            <div id="email" class="item_value">
                
            </div>
            <button>Edit</button>
        </div>
    </div>
</fieldset>