<form id="region">
    <input type="hidden" name="test">
    <select id="id" name="id">
        <option value="1">shanghai</option>
    </select>
    <input type="button" onclick="location_save();" id="asdf">
</form>
