<div class="channel">
    <div class="channel_paging">

    </div>
    <div class="channel_list">
        <div class="channel_list_item">
        </div>
    </div>
    <div class="channel_paging">

    </div>
</div>