.form_box {
    width: 1024px;
    min-height: 300px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    background-color:darksalmon;
}

.form {

}

.form_title {
    width: 1000px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
}

.title_msg {
    width: 1000px;
    line-height: 35px;
    font-weight: bold;
    padding-left: 400px;
}

.form_group {
    width: 600px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: fuchsia;
}


.form_item {
    width: 400px;
    line-height: 35px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.form_label {
    width: 100px;
    text-align: left;
}

.form_value {
    width: 300px;
}

.form_code {
    width: 150px;
}

.form_email {
    width: 250px;
}

.email_button {
    width: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.form_button {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form_msg {
    width: 400px;
    line-height: 30px;
    font-weight: normal;
}

.search_box {
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paging_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paging_top {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1 solid black;
}

.paging_bottom {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1 solid black;
}

.list_box {
    border: 1px solid black;
}

.list_item {
    width: 753px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: 1000px;
    line-height: 35px;
    text-align: center;
}

.content {
    width: 800px;
    line-height: 30px;
    min-height: 300px;
}

.one_box {
    width: 972px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
}

.one_item {
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 35px;
}

.forum_box {

}

.forum_item {
    width: 960px;
    min-height: 200px;
    border: 1px solid darkgray;
    display: flex;
    justify-content: center;
    align-items: top;
}

.forum_user {
    width: 200px;
    border: 1px solid darkgray;
    
    margin: -1px;
}

.forum_article {
    width: 760px;
    border: 1px solid darkgray;
    margin: -1px;
}